{% extends 'flatpages/default.html' %}

{% load custom_filters %} <!-- не забываем заранее загружать наши фильтры! -->

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>All News</h1>
    <h3>{{ time_now }}</h3>
    <h3> {{ news|length }} </h3>
    <hr>
    {% if news %}
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации в формате (день.месяц.год)
                </td>
                <td>
                    Первые 20 слов текста статьи
                </td>
            </tr>
        {% for new in news %}
            <tr>
                <td>
                    {{ new.name|Censor }} <!-- применим наш фильтр, чтобы Censor itь -->
                </td>
                <td>
                    {{ new.auto_time|date:'d M Y' }}
                </td>
                <td>
                    {{ new.description|truncatechars:50|Censor }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}